[Unit]
Description=Create /dev/shm/sc2pulse directories
DefaultDependencies=no
After=local-fs.target
Before=docker.service docker.socket

[Service]
Type=oneshot
UMask=0077
ExecStartPre=/usr/bin/rm -rf /dev/shm/sc2pulse
ExecStart=/usr/bin/mkdir /dev/shm/sc2pulse
ExecStart=/usr/bin/mkdir /dev/shm/sc2pulse/sc2pulse
ExecStart=/usr/bin/mkdir /dev/shm/sc2pulse/postgres
ExecStart=/usr/bin/mkdir /dev/shm/sc2pulse/clickhouse
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
