[Unit]
Description=Update Cloudflare IPs for nginx and nftables
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/etc/sc2pulse/compose/containers/nginx/cloudflare-ip-sync
ExecStart=/etc/sc2pulse/compose/containers/nginx/cloudflare-ip-sync/cloudflare-ip-sync.sh

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
MemoryDenyWriteExecute=true
ReadWritePaths=/etc/sc2pulse/compose/containers/nginx/cloudflare-ip-sync/conf
CapabilityBoundingSet=CAP_NET_ADMIN CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_NET_ADMIN
