html, #status-generating-fullscreen
{
    margin-left: calc(100vw - 100%);
}

body
{
    text-align: center;
    font-size: 15px;
}

#about
{
    text-align: left;
}

#about h2, #about h3
{
    text-align: center;
}

table, ul, dl, .modal
{
    text-align: initial;
}

h1
{
    font-size: 1.5rem;
}

h2
{
    font-size: 1.4rem;
}

h3
{
    font-size: 1.3rem;
}

h4
{
    font-size: 1.1rem;
}

caption
{
    caption-side: top;
    text-align: center;
    color: inherit;
    padding: 0;
    margin: 0;
}

#status-generating-fullscreen
{
    left: 0;
    top: 0;
    z-index: 9999;
    cursor: wait;
    opacity: 1;
}

#status-generating-fullscreen.invisible
{
    opacity: 0;
}

.table td, .table td *
{
    vertical-align: middle;
}

.table td:not(.complex), .table th, .card-title
{
    text-align: center;
}

.table .cell-main
{
    width: 100%;
}

.chartable
{
    display: none;
}

.table-image, .form-icon
{
    height: 1.2em;
    vertical-align: middle;
}

.table-image-long, .form-icon-long
{
    height: 1.0em;
}

.table-image-additional
{
    height: 0.7em;
}

.table-image-square, .form-icon
{
    width: 1.2em;
}

.race-percentage:after
{
    content: "/";
}

.c-divider:after
{
    content: " | ";
}

.race-percentage-none
{
    display: inline-block;
    border-radius: 1em;
    border: 0.15em solid gray;
}

.race-percentage:last-child:after,
.c-divider:last-child:after
{
    content: "";
}

.c-dropdown:after
{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";

    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-top: 0;
    border-bottom: .3em solid;
}

.c-dropdown.collapsed:after
{
    border-top: .3em solid;
    border-bottom: 0;
}

.collapsing
{
    transition: none;
}

.c-divider-hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.page-item.disabled.active .page-link
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.card-equal
{
    min-width: initial;
    flex: 0 !important;
}

.card-body .table
{
    margin-bottom: 0;
}

.d-top-global-mild
{
    margin-top: 25vh;
}

.tab-pane.c-height-linked:not(.active)
{
    visibility: hidden !important;
    display: block !important;
    position: fixed !important;
}

.nav-pills .nav-link
{
    border-radius: 0;
}

.nav-pills .nav-link
{
    outline: none;
    color: #212529;
    border-bottom: #f0f0f0 0.19rem solid;
    transition-property: color, border-bottom-color;
    transition-duration: 200ms;
}

.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover
{
    border-bottom-color: #5a6268;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus
{
    color: #007bff;
    background-color: unset;
    border-bottom-color: #007bff;
}

.tab-pane.c-height-linked:not(.active) {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 1140px;
    }
}
