html, #status-generating-fullscreen
{
    margin-left: calc(100vw - 100%);
}

body
{
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.937rem;
}

#about
{
    text-align: left;
}

#about h2, #about h3, #about h4
{
    text-align: center;
}

table, ul, dl
{
    text-align: initial;
}

h1
{
    font-size: 1.5rem;
}

h1 img
{
    width: 1.333em;
}

h1 *
{
    vertical-align: middle;
}

h2
{
    font-size: 1.3rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1.0rem;
}

#stats h4
{
    position: sticky;
    top: 0;
    background-color: white;
}

.modal h2
{
    flex-grow: 1;
}

caption
{
    caption-side: top;
    text-align: center;
    color: inherit;
    padding: 0;
    margin: 0;
}

#status-generating-fullscreen
{
    left: 0;
    top: 0;
    z-index: 9999;
    opacity: 1;
}

#modal-generic
{
    z-index: 10000;
}

#status-generating-fullscreen.invisible
{
    opacity: 0;
}

.table
{
    font-size: 0.875rem;
}

.table a
{
    padding: 0.4em;
}

.table td, .table td *, .table th[scope="row"]
{
    vertical-align: middle;
}

.table td:not(.complex), .table th, .card-title
{
    text-align: center;
}

.c-table-simple
{
    width: initial;
}

.c-table-simple td, .c-table-simple th
{
    text-align: left;
}


.table .cell-main
{
    width: 100%;
}

th.hoverable::before
{
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-size: 1.2em;
    background-image: url("icon/misc/info.svg");
    vertical-align: middle;
    margin-right: 0.1em;
}

th.hoverable span
{
    vertical-align: middle;
}

.chartable
{
    display: none;
}

.table-image, .form-icon
{
    height: 1.2em;
    vertical-align: middle;
}

.table-image-long, .form-icon-long
{
    height: 1.0em;
}

.table-image-additional
{
    height: 0.7em;
}

.table-image-square, .form-icon
{
    width: 1.2em;
}

.table-selectable-row tr
{
    border-left: transparent 0.20rem solid;
}

.table-selectable-row tr.active
{
    border-left: #007bff 0.20rem solid;
}

.player-team:before
{
  content: "[";
}

.player-team:after
{
  content: "]";
}

.player-name-masked
{
  color: gray ;
  font-size: 0.8em;
}

.player-name-masked:before
{
  content: " (";
}

.player-name-masked:after
{
  content: ")";
}

.race-percentage:after
{
    content: "/";
}

.c-divider:after
{
    content: " | ";
}

.race-percentage-none
{
    display: inline-block;
    border-radius: 1em;
    border: 0.15em solid gray;
}

.race-percentage:last-child:after,
.c-divider:last-child:after
{
    content: "";
}

.c-dropdown:after
{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";

    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-top: 0;
    border-bottom: .3em solid;
}

.c-dropdown.collapsed:after
{
    border-top: .3em solid;
    border-bottom: 0;
}

.social-media img
{
  height: 2em;
}

.social-media
{
  color: black;
}

.social-media:hover, .player-link:hover
{
  text-decoration: none;
}

#link-aligulac
{
  font-size: 1.9em;
  font-family: serif;
  width: 1em;
  display: inline-block;
}

#link-aligulac span
{
  vertical-align: middle;
}

.player-pro::after
{
  content: "PRO";
  color: grey;
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.2em;
  border-radius: 0.5em;
  border: rgba(128, 128, 128, 0.6) solid 0.1em;
  font-size: 0.6em;
  font-weight: bold;
  vertical-align: middle;
}

.collapsing
{
    transition: none;
}

.c-divider-hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.page-item.disabled.active .page-link
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.card-equal
{
    min-width: initial;
    flex: 0 !important;
}

.card-body .table
{
    margin-bottom: 0;
}

.d-top-global-mild
{
    margin-top: 25vh;
}

.tab-pane.c-height-linked:not(.active)
{
    visibility: hidden !important;
    display: block !important;
    position: fixed !important;
}

.nav-pills .nav-link
{
    border-radius: 0;
}

.nav-pills .nav-link
{
    outline: none;
    color: #212529;
    border-bottom: #f0f0f0 0.20rem solid;
    transition-property: color, border-bottom-color;
    transition-duration: 200ms;
}

.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover
{
    border-bottom-color: #5a6268;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus
{
    color: #007bff;
    background-color: unset;
    border-bottom-color: #007bff;
}

.tab-pane.c-height-linked:not(.active) {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal-open .modal
{
    overflow-y: scroll;
}

.modal-header
{
    background-color: #343a40;
}

.modal-header, .modal-header .close
{
    color: white;
}

.modal-footer
{
    background-color: #fcfcfc;
}

.popover
{
    max-width: 100%;
}

.popover th
{
    text-transform: capitalize;
}

.popover tbody th
{
    text-align: left;
}

:fullscreen
{
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden
}

.fullscreen-toggle
{
    content: url("icon/misc/enlarge.svg");
    cursor: pointer;
    height: 1em;
}

:fullscreen .fullscreen-toggle
{
    content: url("icon/misc/shrink.svg");
}

@media (min-width: 576px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .modal-complex {
        max-width: initial;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
