body
{
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.937rem;
}

.section-side
{
    flex-grow: 1;
}

#section-center
{
    min-width: 0;
    min-height: 100vh;
    width: 100%;
    padding: 0 !important;
}

#about
{
    text-align: left;
}

#about h2, #about h3
{
    text-align: center;
}

table, ul, dl
{
    text-align: initial;
}

.inline-table
{
    width: initial;
    display: inline-table;
}

h1
{
    font-size: 1.5rem;
}

h1 img
{
    width: 1.333em;
}

h1 a
{
    display: inline-flex;
    align-items: center;
}

h2
{
    font-size: 1.3rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1.0rem;
}

#stats h4
{
    position: sticky;
    top: 0;
    background-color: white;
}

body.theme-dark #stats h4
{
    background-color: #191d21;
}

.modal h2
{
    flex-grow: 1;
}

caption
{
    caption-side: top;
    text-align: center;
    color: inherit;
    padding: 0;
    margin: 0;
}

.sticky-bottom
{
    position: sticky !important;
    bottom: 0 !important;
    z-index: 99 !important;
}

ins.adsbygoogle[data-ad-status="unfilled"]
{
    background-color: #f1f3f4;
}

body.theme-dark ins.adsbygoogle[data-ad-status="unfilled"]
{
    background-color: #22272a;
}

#sponsor-desktop-right h2
{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#dd-desktop-left-container,
.sponsor-desktop-side-container
{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

#dd-desktop-left,
.sponsor-desktop-side
{
    position: absolute;
    top: 0;
    left: 0;
}

.sponsor-desktop-side
{
    width: 100%;
}

.adsbygoogle
{
    display:inline-block;
}

.dd-skyscraper
{
    height: 600px;
}

.dd-full-width
{
    width: 320px;
    height: 100px;
}

.border-splitter-left
{
    padding-left: 1em;
    margin-left: 1em;
    border-left: solid 2px;
}

.border-splitter-right
{
    padding-right: 1em;
    margin-right: 1em;
    border-right: solid 2px;
}

#status-generating-fullscreen
{
    left: 0;
    top: 0;
    z-index: 9999;
    opacity: 1;
}

#status-generating-fullscreen .spinner-border
{
    position: fixed;
    left: calc(50vw - 1rem);
    top: calc(50vh - 1rem);
}

#modal-generic
{
    z-index: 10000;
}

#status-generating-fullscreen.invisible
{
    opacity: 0;
}

#matches-type
{
    text-transform: capitalize;
}

#matches thead tr
{
    font-size: 0.75em;
}

#matches tbody tr.section-splitter td:nth-child(1),
#matches tbody tr.section-splitter td:nth-child(5),
#matches tbody td:nth-child(1)
{
    font-size: 0.9em;
}

#matches tbody tr.section-splitter td:nth-child(3),
#matches tbody tr.section-splitter td:nth-child(4),
#matches [data-ctype="rank"] .text-secondary
{
    font-size: 0.8em;
}

#matches tbody tr.section-splitter td:nth-child(3)
{
    word-break: break-word;
}

#form-search-clan input[type="number"]
{
    max-width: 6em !important;
}

#mmr-history-info-panel
{
    margin-bottom: 1em;
    border-bottom: solid 2px;
}

#mmr-summary-table
{
    font-size: 0.8rem;
}

.table
{
    font-size: 0.875rem;
}

.font-small-5
{
    font-size: 0.5em !important;
}

.font-small-6
{
    font-size: 0.6em !important;
}

.font-large-2
{
    font-size: 2em !important;
}

.table a
{
    padding: 0.4em;
}

.table td, .table td *, .table th[scope="row"]
{
    vertical-align: middle;
}

.table td:not(.complex), .table th, .card-title
{
    text-align: center;
}

.c-table-simple, .width-initial
{
    width: initial;
}

.c-table-simple td, .c-table-simple th
{
    text-align: left;
}


.table .cell-main
{
    width: 100%;
}

.table tr.section-splitter td,
.table tr.section-splitter th
{
    border-block-width: 0.2rem
}

th.hoverable::before
{
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-size: 1.2em;
    background-image: url("icon/misc/info.svg");
    vertical-align: middle;
    margin-right: 0.1em;
}

th.hoverable span
{
    vertical-align: middle;
}

.chartjs-tooltip
{
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0.5em;
    z-index: 9999;
    padding: 0.5em;
    transition-property: all;
    transition-duration: 0.1s;
}

@supports (-moz-appearance:none)
{
    .chartjs-tooltip
    {
        transition-property: none;
        transition-duration: 0s;
    }
}

.chartjs-tooltip *
{
    font-size: 0.75rem;
    color: white;
}

.chartjs-tooltip h2
{
    font-weight: bold;
}

.chartjs-tooltip .table
{
    margin-bottom: 0;
}

.chartjs-tooltip .table td:nth-child(2)
{
    text-align: left;
}

.chartjs-tooltip thead th
{
    font-size: 0.9em;
}

.chartjs-tooltip .table td
{
    padding: 0.1em;
}

.chartjs-tooltip .legend-color
{
    height: 1em;
    width: 1em;
    border-radius: 1em;
}

.tooltip-mmr-rank
{
    font-size: 0.9em;
}

.chart-zoom-ctl
{
    font-size: 0.7rem;
    padding: .100rem .200rem;
    float: right;
}

.chartable
{
    display: none;
}

.table-image, .form-icon
{
    height: 1.2em;
    vertical-align: middle;
}

.table-image-long, .form-icon-long
{
    height: 1.0em;
}

.table-image-additional
{
    height: 0.7em;
}

.table-image-square, .form-icon
{
    width: 1.2em;
}

.table-selectable-row tr
{
    border-left: transparent 0.20rem solid;
}

.table-selectable-row tr.active
{
    border-left: #007bff 0.20rem solid;
}

.background-cover
{
    background-size: cover;
}

.chart-line-img
{
    background-image: url("icon/misc/chart-line.svg");
}

.cross-img
{
    background-image: url("icon/misc/cross.svg");
}

.team-buffer-toggle.add
{
    background-image: url("icon/misc/plus.svg");
}

.team-buffer-toggle.remove
{
    background-image: url("icon/misc/minus.svg");
}

.player-team:before
{
  content: "[";
}

.player-team:after
{
  content: "]";
}

.player-name-masked-container
{
  color: gray !important;
  font-size: 0.8em;
}

.parenthesis:before
{
  content: "(";
}

.parenthesis:after
{
  content: ")";
}

.player-name-masked-container:before
{
  content: " (";
}

.player-name-masked-container:after
{
  content: ")";
}

.player-team-masked:before
{
  content: "[";
}

.player-team-masked:after
{
  content: "]";
}

.c-divider-slash ~ .c-divider-slash::before
{
    content: "/";
}

.c-divider ~ .c-divider::before
{
    content: " | ";
}

.race-percentage-none
{
    display: inline-block;
    border-radius: 1em;
    border: 0.15em solid gray;
}

.c-dropdown:after
{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";

    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-top: 0;
    border-bottom: .3em solid;
}

.c-dropdown.collapsed:after
{
    border-top: .3em solid;
    border-bottom: 0;
}

.c-dropup:after
{
    border-top: .3em solid;
    border-bottom: 0;
}

.c-dropup.collapsed:after
{
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-top: 0;
    border-bottom: .3em solid;
}

.social-media img
{
  height: 2em;
}

body.theme-light .social-media
{
  color: black;
}

body.theme-light .adaptive-border-color-splitter
{
    border-color: #f0f0f0 !important;
}

.adaptive-border-color-splitter
{
    border-color: #343a40 !important;
}

.text-decoration-underline
{
    text-decoration: underline;
}

.social-media:hover, .player-link:hover
{
  text-decoration: none;
}

#link-aligulac
{
  font-size: 1.9em;
  font-family: serif;
  width: 1em;
  display: inline-block;
}

#link-aligulac span
{
  vertical-align: middle;
}

.player-flag
{
    border: rgba(128, 128, 128, 0.6) solid 0.1em;
    display: inline-block;
    margin-left: 0.5em;
    padding: 0.2em;
    border-radius: 0.5em;
    font-size: 0.6em;
    font-weight: bold;
    vertical-align: middle;
}

.player-flag-pro
{
    color: grey;
    font-weight: normal;
}

.player-flag-cheater
{
    color: #dc3545;
    border: rgba(220, 53, 69, 0.6) solid 0.1em;
}

.collapsing
{
    transition: none;
}

.c-divider-hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

body.theme-dark .c-divider-hr
{
    border-color: #343a40;
}

.page-item.disabled.active .page-link
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

body.theme-dark .page-item.disabled:not(.active) .page-link
{
    color: #373d43;
}

.bg-success-fade-1
{
    background-color: rgba(0, 255, 0, 0.06);
}

.bg-danger-fade-1
{
    background-color: rgba(255, 0, 0, 0.06);
}

.card-equal
{
    min-width: initial;
    flex: 0 !important;
}

.card-body .table
{
    margin-bottom: 0;
}

.d-top-global-mild
{
    margin-top: 25vh;
}

.tab-pane.c-height-linked:not(.active)
{
    visibility: hidden !important;
    display: block !important;
    position: fixed !important;
}

.nav-pills .nav-link
{
    border-radius: 0;
}

body.theme-dark a:not(.btn):not(.nav-link):not(.page-link)
{
    color: #00b0f4;
}

body.theme-dark a:not(.btn):not(.nav-link):not(.page-link):hover
{
    color: #0899dd;
}

.nav-pills .nav-link
{
    outline: none;
    color: #adadad;
    border-bottom: #343a40 0.20rem solid;
    transition-property: color, border-bottom-color;
    transition-duration: 200ms;
}

body.theme-light .nav-pills .nav-link
{
    color: #212529;
    border-bottom: #f0f0f0 0.20rem solid;
}

body .nav-pills .nav-link:focus,
body .nav-pills .nav-link:hover
{
    border-bottom-color: #5a6268;
}

body .nav-pills .nav-link.active,
body .nav-pills .nav-link.active:focus
{
    color: #007bff;
    background-color: unset;
    border-bottom-color: #007bff;
}

.tab-pane.c-height-linked:not(.active) {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.modal-open .modal
{
    overflow-y: scroll;
}

.modal:not(.no-popup) .modal-header
{
    background-color: #343a40;
}

.modal:not(.no-popup) .modal-header,
.modal:not(.no-popup) .modal-header .close
{
    color: white;
}

.backdrop
{
    transition-property: background-color;
    transition-duration: 500ms;
}

.backdrop-active
{
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

body.theme-dark .backdrop-active
{
    background-color: rgba(0, 0, 0, 0.07);
}

body.theme-light .modal:not(.no-popup) .modal-footer
{
    background-color: #fcfcfc;
}

.dropdown-menu-lg
{
    min-width: 25vw;
    max-width: 90vw;
    width: 40em;
}

.dropdown-menu .close
{
    margin-right: 0.5em;
}

.popover
{
    max-width: 100%;
}

.popover th
{
    text-transform: capitalize;
}

.popover tbody th
{
    text-align: left;
}

body.theme-dark .popover
{
    background-color: black;
}

body.theme-dark .popover-body
{
    color: #d3d3d3;
}

body :fullscreen, body #team-buffer
{
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

body.theme-dark :fullscreen, body.theme-dark #team-buffer
{
    background-color: #191d21;
}

.fullscreen-toggle
{
    content: url("icon/misc/enlarge.svg");
    cursor: pointer;
    height: 1em;
}

:fullscreen .fullscreen-toggle
{
    content: url("icon/misc/shrink.svg");
}

.modal.no-popup
{
    position: initial !important;
    opacity: 1 !important;
    display: block;
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.modal.no-popup .modal-dialog
{
    transform: none;
    margin: 0;
}

.modal.no-popup .modal-content,
.modal.no-popup .modal-header
{
    border: none;
}

.modal.no-popup .modal-header
{
    border-radius: calc(.3rem - 1px);
    margin-bottom: 1rem;
}

.modal.no-popup .modal-header .close
{
    color: #007bff;
    opacity: 1;
}

.modal.no-popup .modal-header .close:hover
{
    opacity: 0.75;
}

.modal.no-popup .modal-body
{
    padding: 0;
}

body.modal-open.modal-open-no-popup
{
    overflow: initial;
    padding: 0 !important;
}

.modal-header .close-left
{
    float: left;
    margin: -1rem auto -1rem -1rem;
}

#error-session
{
    z-index: 9998;
}

#error-generation
{
    z-index: 9999;
}

.flex-col-adaptive
{
    display: flex;
    flex-direction: row;
}

.flex-col-adaptive .table-responsive
{
    overflow-x: initial;
    width: initial;
}

@media (min-width: 576px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 540px;
    }

    html
    {
        overflow-y: scroll;
    }
}

@media (min-width: 768px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 720px;
    }

}

@media (min-width: 992px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .tab-pane.c-height-linked:not(.active) {
        max-width: 1140px;
    }
}

@media (min-width: 1395px) {
    .dd-skyscraper
    {
        width: 120px;
    }

    #dd-desktop-left-container
    {
        max-width: 120px;
    }

    .dd-full-width
    {
        display: none;
    }
}

@media (min-width: 1500px) {
    .dd-skyscraper
    {
        width: 160px;
    }

    #dd-desktop-left-container
    {
        max-width: 160px;
    }
}

@media (max-width: 1394px) {

    #dd-desktop-left, .dd-skyscraper
    {
        display: none;
    }

}

@media (max-width: 1200px) {
    .modal-complex {
        max-width: initial;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 576px) {
    .flex-col-adaptive
    {
        flex-direction: column;
    }

    .flex-col-adaptive .table-responsive
    {
        overflow-x: auto;
        width: 100%;
    }

    .flex-col-adaptive > .border-splitter-left
    {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }

    .flex-col-adaptive > .border-splitter-right
    {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
    }
}

@media (max-width: 310px) {

    .dd-full-width
    {
        display: none;
    }

}

@media (min-width: 1700px) {
    .sponsor-mobile-container
    {
        display: none;
    }
}

@media (max-width: 1699px) {
    .sponsor-desktop-side-container
    {
        display: none;
    }
}